#crossfit {
    @include flex (column,center,10px);

    .parrafo {
        margin: 20px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    #parrafo-crossfit {
        margin: 0 3rem;

    }

    .prueba {
        margin: 70px 0 10px 10px;
    }
}

.boton {
    margin: 0 0 50px 0;
}

.nav__brand{
    padding: 5px 0 5px 6px;
    font-size: 24px;
    color: azure;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 
 

 .tarjetasindex{
    padding: 30px;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .productosventa{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }